<% provide(:title, t("static_pages.menu_about")) %>
<h1><%= t "static_pages.about" %></h1>
<p>
  <a href="http://www.railstutorial.org/"><em><%= t "static_pages.rails_tuts" %></em></a><%= t "static_pages.contact_page.is_a" %>
  <a href="http://www.railstutorial.org/book"><%= t "static_pages.contact_page.book" %></a> <%= t "static_pages.and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t "static_pages.contact_page.screencast_series" %></a>
  <%= t "static_pages.contact_page.to_each" %>
</p>
  <a href="http://rubyonrails.org/"><%= t "rob" %></a>.
  <%= t "static_pages.sample" %>
</p>
