<% provide(:title, t("About")) %>
<h1><%= t "About" %></h1>
<p>
  <a href="http://www.railstutorial.org/"><em><%= t "static_pages.rails_tuts" %></em></a> is a
  <a href="http://www.railstutorial.org/book"><%= t "static_pages.about.book" %></a> <%= t "static_pages.about.and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t "static_pages.about.screencasts_series" %></a>
    <%= t "static_pages.about.to_each" %>
  <a href="http://rubyonrails.org/"><%= t "static_pages.about.ROB" %></a>.
  <%= t "static_pages.sample" %>
</p>
