<% provide(:title, t("Help")) %>
<h1><%= t "static_pages.Help" %></h1>
<p>
  <%= t "static_pages.help.address" %>
  <a href="http://www.railstutorial.org/help"><%= t "static_pages.help.Rails_tutorial_help_section" %></a>.
  <%= t "static_pages.help.see_more"%>
  <a href="http://www.railstutorial.org/book"><em><%= t "static_pages.rails_tuts" %></em>
  </a><%= t "static_pages.book" %>.
</p>
