<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_pages.sample_app"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.Home"), root_path %></li>
        <li><%= link_to t("static_pages.Help"), help_path %></li>
        <li><%= link_to t("static_pages.About"), about_path %></li>
        <li><%= link_to t("static_pages.Contact"), contact_path %></li>
        <li><%= link_to t("static_pages.Login"), "login" %></li>
      </ul>
    </nav>
  </div>
</header>
